<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.achnanda7.bookinventory_nanda">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:name="com.achnanda7.bookinventory_nanda.core.CoreApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <activity
            android:name="com.achnanda7.bookinventory_nanda.activity.SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.achnanda7.bookinventory_nanda.activity.LoginActivity"
            android:theme="@style/AppTheme.Dark"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity android:name="com.achnanda7.bookinventory_nanda.MainActivity">
        </activity>
        <activity
            android:name="com.achnanda7.bookinventory_nanda.activity.BookFormActivity"
            android:label="@string/title_activity_book_form"
            android:parentActivityName="com.achnanda7.bookinventory_nanda.MainActivity"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.achnanda7.bookinventory_nanda.MainActivity" />
        </activity>
    </application>

</manifest>
